<head>
    <meta charset="UTF-8">
    <title>TimeWise</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no, user-scalable=0">
    <base href="/">
</head>
<body>
    <TimeWise></TimeWise>
</body>