@font-face {
  font-family: '23seconds';
  src: url('23SecondsIcons.otf');
  font-weight: normal;
  font-style: normal;
}

.icon{
	font-family: '23seconds' !important;
	color:#c2c2c2;
	font-size: 20px;
	padding-bottom: 15px !important;
}

@font-face {
  font-family: 'Avenir-Book';
  src: url('Avenir-Book.eot');
  src: url('Avenir-Book.eot?#iefix') format('embedded-opentype'),
       url('Avenir-Book.woff2') format('woff2'),
       url('Avenir-Book.woff') format('woff'),
       url('Avenir-Book.ttf') format('truetype'),
       url('Avenir-Book.svg#Avenir-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Light';
  src: url('Avenir-Light.eot');
  src: url('Avenir-Light.eot?#iefix') format('embedded-opentype'),
       url('Avenir-Light.woff2') format('woff2'),
       url('Avenir-Light.woff') format('woff'),
       url('Avenir-Light.ttf') format('truetype'),
       url('Avenir-Light.svg#Avenir-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: '23seconds';
    src: url('23SecondsIcons.otf');
    font-weight: normal;
    font-style: normal;
}
