<div class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <button type="button" (click)="isCollapsed = !isCollapsed" [hidden]="hideToggle" class="navbar-toggle icon">(</button>

        <a [href]="close">
            <button type="button" *ngIf="showClose" class="navbar-toggle icon notHamburger">2</button>
        </a>
        <a [href]="back">
            <button type="button" *ngIf="showPrev" class="navbar-toggle icon notHamburger">&#35;</button>
        </a>

        <span class="navbar-brand headerText" *ngIf="!locationMonth">{{title | uppercase}}</span>

        <div class="dropdownlist navbar-brand">
            <select name="calendarOptions" *ngIf="locationMonth" [(ngModel)]="selectedOption"
                    ng-options="option.id as option.name for option in calendarOptions"
                    ng-change="toolbar.onChange(calendarOptions[toolbar.selectedOption - 1]);">
            </select>
        </div>

        <div class="buttonsSettings">
            <span *ngIf="locationSettings">
                <button type="button" class="settingButton icon" (click)="saveSettings()">%</button>
                <button type="button" class="settingButton icon" (click)="takePhoto()">"</button>
                <button type="button" class="settingButton icon" (click)="LogOut()">1</button>
            </span>

            <!-- save new/existing location/client/project -->
            <span *ngIf="management">
                <button type="button" class="settingButton icon" (click)="saveManagement()">%</button>
            </span>

            <!-- make new location/client/project -->
            <a (click)="makeNew()" class="managementIcon">
                <button type="button" *ngIf="showAdd" class="navbar-toggle icon">-</button>
            </a>

            <!-- delete location/client/project -->
            <a (click)="deleteManagement()" class="managementIcon">
                <button type="button" *ngIf="showDelete" class="navbar-toggle icon">=</button>
            </a>
        </div>

        <img class="toolbarFace" [src]="photoUrl" *ngIf="showPhotoUrl"/>
    </div>

    <div class="nav navbar-main" [ngClass]="{'navbar-collapse': isCollapsed, 'collapse': isCollapsed}">
        <div class="nav navbar-icons-top">
            <button type="button" (click)="isCollapsed = !isCollapsed" class="navbar-toggle navbar-close icon">2</button>
            <img [src]="dataURL" type="button" [routerLink]="['/settings']" class="icon-23seconds face" *ngIf="dataURL"/>
        </div>

        <ul class="nav navbar-nav menuText" (click)="isCollapsed = !isCollapsed">
            <li [routerLink]="['/home']">Home</li>
            <!--<li [routerLink]="['/calendar/month']">Calendar</li>
            <li [routerLink]="['/tasklist']">Tasklist</li>
            <li [routerLink]="['/project']">Projects</li>-->
            <li [routerLink]="['/management']">Management</li>
            <li [routerLink]="['/export']" style="border-bottom:none;">Export</li>
            <div class="subText" id="otherOptions">
                <div id="settings" [routerLink]="['/settings']">
                    <button id="settingsButton" class="icon-23seconds" type="button">0
                    </button>
                    <span><br/>SETTINGS</span>
                </div>
                <div id="logout">
                    <button id="logoutButton" class="icon-23seconds" type="button" (click)="LogOut()">1</button>
                    <span><br/>LOG OUT</span>
                </div>
            </div>
        </ul>
    </div>
</div>
