<div class="signincontainer">
    <!-- 23Seconds logo -->
    <div id="logo"></div>

    <!-- sign in form -->
    <form [formGroup]="signInForm" name="signInForm" class="formPosition" id="signInForm" *ngIf="!requestNewPassword" 
          novalidate role="form" (ngSubmit)="logIn()">
        <div class="inputFields">
            <div class="noBorderStandardDiv">
               <div class="row">
                    <label for="username" class="subGrayText">Username</label>
                </div>
                <div class="row">
                    <input formControlName="username" type="text" class="inputs inputFieldText" name="username" id="username" [(ngModel)]="username"
                           [class.error-field]="!signInForm.controls.username.valid && signInSubmitted"/>
                </div>
            </div>

           <hr>

            <div class="noBorderStandardDiv">
                <div class="row">
                    <label for="password" class="subGrayText">Password</label>
                </div>
                <div class="row">
                    <input formControlName="password" type="password" class="inputs inputFieldText" name="password" [(ngModel)]="password"
                           [class.error-field]="!signInForm.controls.password.valid && signInSubmitted"/>
                </div>
            </div>

            <button type="submit" class="fullWidthButton subText">Sign In</button>

            <div class="SignInButtons">
                <button type="button" class="subText" id="singUp" [routerLink]="['/register']">Sign Up</button>
                <button type="button" class="subText requestnewPass" (click)="requestNewPassword = true">Request new password</button>
            </div>
        </div>
    </form>

    <!-- request new password form -->
    <form [formGroup]="requestNewPasswordForm" name="requestNewPasswordForm" class="formPosition" *ngIf="requestNewPassword" 
          novalidate (ngSubmit)="requestnewPass();" role="form">
        <div class="inputFields">
            <div class="noBorderStandardDiv">
                <div class="row">
                    <label for="emailRequestNewPassword" class="subGrayText" style="color:white;">
                        Email
                    </label><br/>
                </div>
                <div class="row">
                    <input formControlName="email" type="email" class="inputs inputFieldText" name="emailRequestNewPassword"
                           [class.error-field]="requestNewPasswordSubmitted && !requestNewPasswordForm.controls.email.valid"/>
                </div>

            </div>
        </div>

        <div class="SignInButtons">
            <button type="submit" class="subText requestnewPass">Request new password</button>
            <button type="button" class="subText" id="back" (click)="requestNewPassword = false">Back</button>
        </div>
    </form>
</div>
