<div class="container checkincontainer">
    <toolbar face="true"></toolbar>

    <div id="topDiv">
        <div id="greeting" class="greetingText" *ngIf="user">
            {{ greeting }}, {{ userFirstname }}<br/>
        </div>
        <div id="dayCircle">
            <span class="day logoDayText">{{ today | date:'d'}}</span><br/>
            <span class="weekday logoWeekDayText">{{ today | date:'EEE' | uppercase}}</span>
            <div class="month logoMonthText">
                {{ today | date:'MMM' | uppercase}}
            </div>
        </div>
    </div>

    <!--<div id="bottomDiv">
        <div id="checkinbar" class="checkInText">
            <div ng-show="checkIn.tryingGeolocation">We are checking you in ...</div>
            <div ng-show="checkIn.checkIn.auto && checkIn.checkIn.success && !checkIn.tryingCheckIn">
                You are checked <wbr> in at {{checkIn.checkIn.location.name}}.
            </div>
            <div ng-if="!checkIn.tryingGeolocation">
                <div ng-hide="checkIn.tryingCheckIn || checkIn.checkIn.success">
                    You are not checked in.
                </div>
            </div>
            <div ng-show="checkIn.checkIn.success && !(checkIn.checkIn.auto || checkIn.checkIn.tryingCheckIn)">
                Timing at {{checkIn.checkIn.location.name}}
            </div>
            <div ng-show="checkIn.tryingCheckIn">
                We are checking you in <div ng-show="checkIn.geolocationSuccess">at {{ checkIn.geolocationSuccess }}</div>
            </div>
        </div>

        <div ng-show="checkIn.checkIn.success">
            <div id="count" class="checkInTimerText">
                {{ checkIn.count }}
            </div>
            <button class="button negative subText" name="btnCheckout" ng-click="checkIn.checkout()">Stop</button>
        </div>

        <div ng-if="!checkIn.tryingGeolocation">
            <div ng-hide="checkIn.tryingCheckIn || checkIn.checkIn.success">
                <select ng-model="checkIn.selectedLocation" id="locationSelect" class="button positive" ng-change="checkIn.locationSelected()">
                    <option value="" disabled selected="selected">Select location</option>
                    <option ng-repeat="option in checkIn.locationDB | orderBy:'name'"
                            value="{{option._id}}">
                        {{option.name}}
                    </option>
                </select>
            </div>
        </div>

        <div ng-show="checkIn.getProject">
            <select ng-model="checkIn.selectedProject" id="projectSelect" class="button positive" ng-change="checkIn.projectSelected()">
                <option value="" disabled>Select project</option>
                <option ng-repeat="project in checkIn.multiprojectlist | orderBy:'name'"
                        value="{{project._id}}" ng-hide="project.disabled">
                    {{project.name}}
                </option>
            </select>
        </div>

        <div ng-show="checkIn.getTimesheetcodes">
            <select ng-model="checkIn.selectedTimesheetcode" id="timesheetCodeSelect" class="button positive" ng-change="checkIn.timesheetCodeSelected()">
                <option value="" disabled>Select timesheet code</option>
                <option ng-repeat="timesheetcode in checkIn.multiTimesheetCode | orderBy:'name'"
                        value="{{timesheetcode.code}}">
                    {{timesheetcode.code}}
                </option>
            </select>
        </div>
    </div>-->
</div>
