<div class="signup container">
    <toolbar [title]="'Sign Up'" [bg]="'#F8F7FA'" [close]="'/'"></toolbar>
    <form [formGroup]="signUpForm" role="form" name="signUpForm" id="signUpForm" (ngSubmit)="signUp()" novalidate>
        <div id="avatar">
            <span class="avatarSpan">Avatar</span>
            <div class="circle" [ngStyle]="{'background-image':'url(' + url + ')'}">
                <button type="button" class="icon-23seconds svgText" *ngIf="showAddPictureButton" id="addPhoto" (click)="addPhoto()">-</button>
            </div>
        </div>

        <div id="signUpFields">
            <div class="standardDiv">
                <label class="subGrayText" for="username">Name</label><br/>
                <input class="inputs inputFieldText" type="text" name="name" placeholder="Pick a username" formControlName="name"
                       [class.error-field]="signUpFormSubmitted && signUpForm.controls.name.errors && (signUpForm.controls.name.errors.required || signUpForm.controls.name.errors.minlength || signUpForm.controls.name.errors.maxlength)"/>

                <div class="tooltipDiv2">
                    <div class="tooltip icon-23seconds" *ngIf="signUpFormSubmitted && signUpForm.controls.name.errors && signUpForm.controls.name.errors.minlength">5
                        <span class="tooltiptext">Minimum four characters</span>
                    </div>

                    <div class="tooltip icon-23seconds" *ngIf="signUpFormSubmitted && signUpForm.controls.name.errors && signUpForm.controls.name.errors.maxlength">5
                        <span class="tooltiptext">Maximum thirty five characters</span>
                    </div>
                </div>
            </div>

            <div class="standardDiv">
                <label class="subGrayText" for="email">Email</label><br/>
                <input formControlName="email" class="inputs inputFieldText" type="email" name="email" placeholder="Enter a valid email address"
                       [class.error-field]="signUpFormSubmitted && signUpForm.controls.email.errors && signUpForm.controls.email.errors.required"/>

                <!--<div class="tooltipDiv2">
                    <div class="tooltip icon-23seconds" ng-show="signUpFormSubmitted && register.signUpForm.email.$error.email">5
                        <span class="tooltiptext">Invalid email address</span>
                    </div>
                </div>-->
            </div>

            <div class="standardDiv">
                <label class="subGrayText" for="password">Password</label><br/>
                <input formControlName="password" class="inputs inputFieldText" type="password" name="password" placeholder="Choose a secure password"
                       [class.error-field]="signUpFormSubmitted && signUpForm.controls.password.errors && signUpForm.controls.password.errors.required"/>

                <!--<div class="tooltipDiv2">
                    <div class="tooltip icon-23seconds" ng-show="signUpFormSubmitted && register.signUpForm.password.$error.pattern">5
                        <span class="tooltiptext">Must contain at least one lower and one uppercase letter and one non alpha character (min. 8, max. 20)</span>
                    </div>
                </div>-->
            </div>

            <div class="standardDiv">
                <label class="subGrayText" for="confirmPassword">Confirm Password</label><br/>
                <input formControlName="confirmPassword" class="inputs inputFieldText" type="password" name="confirmPassword" placeholder="Confirm your password"
                       [class.error-field]="signUpFormSubmitted && signUpForm.controls.confirmPassword.errors && signUpForm.controls.confirmPassword.errors.required"/>
            </div>

            <div class="standardDiv">
                <label class="subGrayText" for="organisation">Organisation</label><br/>
                <input formControlName="organisation" class="inputs inputFieldText" type="text" name="organisation" placeholder="Your organisation, company, ..."
                       [class.error-field]="(signUpForm.controls.organisation.errors && signUpFormSubmitted) || 
                                            (signUpForm.controls.organisation.errors 
                                            && signUpForm.controls.organisation.touched 
                                            && signUpForm.controls.organisation.errors.required)"/>
            </div>

            <div class="standardDiv">
                <label class="subGrayText" for="jobtitle">Job title</label><br/>
                <input formControlName="jobtitle" class="inputs inputFieldText" type="text" name="jobtitle" placeholder="Your job title"
                       [class.error-field]="(signUpForm.controls.jobtitle.errors && signUpFormSubmitted) || 
                                            (signUpForm.controls.jobtitle.errors 
                                            && signUpForm.controls.jobtitle.touched 
                                            && signUpForm.controls.jobtitle.errors.required)"/>
            </div>

            <div class="standardDiv">
                <label class="subGrayText" for="birthday">Birthday</label><br/>
                <input formControlName="birthday" class="inputFieldText" type="date" name="birthday"/><br/>
            </div>
        </div>

        <button type="submit" class="icon-23seconds fullWidthButton" style="position: fixed; bottom:0;">%</button>
    </form>
</div>
