<div class="container" id="projectdetailContainer" *ngIf="client">
    <toolbar title="{{title}}" back="/management" settings="clientManagement" view="client"
             remove="{{clientId}}" (deleteItem)="deleteItem($event)" (saveItem)="saveItem($event)"></toolbar>

    <form [formGroup]="clientForm" name="clientForm" novalidate role="form">
        <div id="detailImg" style="text-align: center; horiz-align: center; color:white">
            <h2>
                <input formControlName="name" type="text" class="inputs inputFieldText" placeholder="Name" style="text-align: center;color:white;"
                        [(ngModel)]="client.name" autofocus [class.error-field]="!clientForm.controls.name.valid && clientFormSubmitted"/>
            </h2>
        </div>

        <div>
            <!--<form name="clientForm" id="clientForm">
                <div class="standardDiv paddingBottom">
                    <label class="subGrayText" for="location">Location</label><br/>

                    <div class="style-dropdown">
                        <select type="text"
                                class="inputs inputFieldText ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched"
                                id="location" ng-model="manageClient.client.location">
                            <option value="" selected>None</option>
                            <option ng-repeat="project in manageClient.locations" value="{{project._id}}">
                                {{project.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </form>-->
        </div>
    </form>
</div>
