.checkincontainer {
	background-image: url("/img/bg-checkin.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size:cover;
	position:absolute;
	width:100%;
	top: 0;
	bottom: 0;
	text-align: center;
}

#topDiv{
  height: 45%;
}

#greeting {
  	padding-top: 5vh;
  	margin-bottom: 3vh;
}

#checkinbar {
	background-color: rgba(194, 194, 194, 0.5);
	margin: 0;
	margin-top: 5vh;
	margin-bottom: 5vh;
	width: 100%;
  	color: black !important;
	padding: 3vh;
}

#count{
  	margin-top: 5vh;
}

.positive {
	background: $positive-color;
	color: white;
}

.negative {
	background: $negative-color;
	color: white;
}

.button {
	border: none;
  	padding: 3vh 0;
	text-decoration: none;
  	width: 50%;
  	text-wrap: normal;
	margin-top: 5%;
}

#locationSelect, #projectSelect, #timesheetCodeSelect {
	padding: 3vh 0 3vh 8% !important;
	text-decoration: none;
	border: 0;
	outline: 0;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius: 0;
    background: url('img/chevron-down.png') no-repeat, $positive-color;
    background-position: 85% center;
    background-size: 9%;
}

@media all and (max-width: 365px) {
    #locationSelect, #projectSelect {
        width: 62% !important;
    }
}

#timesheetCodeSelect {
    width: 70% !important;

    @media all and (max-width: 365px) {
        width: 80% !important;
    }
}


.checkinCircle {
	border-radius: 50%;
    -webkit-border-radius: 50%;
	text-align:center;
}

#dayCircle {
	@extend .checkinCircle;
	position: relative;
	width: 40%;
	margin: 0 auto;
	height: 40vw;
	color: white;
	line-height: 41vw;
	background: $primary-color;
}

#dayCircle .day {
  	margin-left: -3px;
  	font-family: $font;
}

#dayCircle .weekday {
	position: absolute;
	top: 25%;
	width: 100%;
	left: 0;
	text-align: center;
}

#dayCircle .month {
	@extend .checkinCircle;
	line-height: 14vw;
	width: 13vw;
  	height: 13vw;
	position: absolute;
	top: 0;
	right: 0;
	background: $accent-color;
}
