@keyframes day-in {
  0% {
      transform: translate3d(-100%, 100%, 0)
  }
  60% {
      transform: translate3d(4%, 10%, 0)
  }
  100% {
      transform: translate3d(0, 0, 0)
  }
}

@-webkit-keyframes day-in {
  0% {
    transform: translate3d(-100%, 100%, 0)
  }
  60% {
    transform: translate3d(4%, 10%, 0)
  }
  100% {
    transform: translate3d(0, 0, 0)
  }
}

.dayAnimate {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0,0,0);
    -webkit-transition: all;
    transition: all;
}

.dayAnimate.ng-enter {
    -webkit-animation-duration: 400ms;
	animation-duration: 400ms;
    -webkit-animation-name: day-in;
	animation-name: day-in;
}

.dayAnimate.ng-enter-stagger {
    animation-delay: 150ms;
    -webkit-animation-delay: 150ms;
    animation-duration: 0ms;
    -webkit-animation-duration: 0ms;
}
