/**CALENDAR TOOLBAR **/
.cal-toolbar{ //kan be changed into standarddiv when padding is taken care off
  width: 100vw;
  background-color: white !important;
  text-align: center;
  transform: translate3d(0, 0, 0);
}

.cal-toolbar > .navbar-header > .row > .col-xs-4 {
  padding-bottom: 2.5vh !important;
  padding-top: 3vh !important;
  border-right: 1px solid $listitem-backgroundcolor;
  border-bottom: 3px solid transparent;
}

.cal-toolbar > .navbar-header > .row > .col-xs-4.activeTab {
  border-bottom: 3px solid $accent-color;
}

/** BANNER **/
.dateBanner {
  background-color: $listitem-backgroundcolor;
  text-align: center;
  padding: 0 !important;
  transform: translate3d(0, 0, 0);

  .arrowIcon {
    font-size: 4vw !important;
    border: none;
    background: none;
    color: inherit;
    margin-top: 4vh;
  }

  .rightButton {
    float: right;
    margin-right: 30%;
  }

  .leftButton {
    float: left;
    margin-left: 30%;
  }
}
