/** GENERAL FONT-SIZES **/
.grayText{
  font-size: 1em;
  color: #666666 !important;
}

.subText{
  font-size: 0.88em;
}

.subGrayText{ //small gray text
  margin-top: 1.4vh;
  font-size: 0.75em;
  color: $overlay-color !important;
  display: inline-block;
}

.inputFieldText{
  font-size: 0.88em;
}

.headerText{
  font-size: 13.5pt; //schaalt niet mee want de toolbar blijft gelijk cross-device
}

.menuText{
  font-size: 1.25em;
}

/** HOME **/
.checkInText{
  font-size: 1.13em;
}

.checkInTimerText{
  font-size: 2.81em;
}

.greetingText{
  font-size: 1.56em;
}

.logoMonthText{
  font-size: 0.88em;
}

.logoDayText{
  font-size: 3.75em;
}

.logoWeekDayText{
  font-size: 0.75em;
}

/** CALENDAR **/
.calDateText{ //week X, day X
  font-size: 1.88em;
}

.weekText{ //hours + days on x-as &y-as
  font-size: 1em;
}

/** PROJECT **/
.svgText{
  font-size: 2.19em;
}

/** TASKLIST **/
.taskNumberText{
  font-size: 2.50em;
}

.taskText{
  font-size: 0.88em;
}
