.signincontainer {
  background: url("img/bg-home-blue.jpg") no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
  //padding-top: 5vh;
  z-index: 10002 !important;

  input, label{
    color:white;
  }
}

//nodig om inputveld onder inputlabels te krijgen (override display:flex)
.signincontainer > .formPosition > .inputFields > .noBorderStandardDiv{
  display: block !important;
}

#logo {
  height: 50vh;
  text-align: center;
  background: url("img/home-graphic.png") no-repeat;
  background-size: contain;
    background-position-y: 30%;
  margin-left: 10vw;
  margin-right: 10vw;
}

#signInForm {
  bottom: 0;
  width: 100vw;
  position: absolute;
  .inputFields {
    .noBorderStandardDiv{
      margin-top: 0;
    }
  }
}

.inputFields { //doorschijnende input velden
  background: rgba(255, 255, 255, 0.15);
}

.cssMargin{ //fix issue
  padding-top: 2vh;
}

.SignInButtons {
  height: 9vh;
  color: $listitem-backgroundcolor;

  #singUp {
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    float: left;
    width: 50vw;
      height: 100%;
    min-width: 13.33vw;
  }
  .requestnewPass {
      height: 100%;
    background-color: rgba(255,255,255,0.25);
    border: none;
    float:right;
    width: 50vw;
    min-width: 40vw;
  }

  #back {
      height: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    float: left;
    width: 50vw;
    min-width: 13.33vw;
  }
}

/*TOOLTIP ERROR MESSAGES*/
.tooltipDiv a:hover, .tooltipDiv a:focus {
  color: $listitem-backgroundcolor;
  text-decoration: none;
  font-size: 1.2em !important;
}

.tooltipDiv {
  height: 4vh;
  width: 10vw;
  float: right;

  .tooltip{
    color: $listitem-backgroundcolor !important;
    font-size: 1.2em !important;
    display: inline;
    opacity: 1;
  }

  .tooltip:hover:after{
    font-family: $font !important;
    min-width: 30vw;
    font-size: 0.8em !important;
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: $listitem-backgroundcolor;
    content: attr(title);
    right: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
  }

  .tooltip:hover:before{
    font-family: $font !important;
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    right: 50%;
    position: absolute;
    z-index: 99;
  }

  .tooltip:hover:after{
    font-family: $font !important;
  }
}

