input[type="checkbox"]:focus {
    outline: none !important;
    outline-offset: 0;
}

.location-selector{
    float: right;

    input {
        margin: 0 !important;
    }
}

.checkbox {
    margin: 0 !important;

    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: relative !important;
        -webkit-border-radius: 25vw !important;
        border-radius: 25vw !important;
        border: 1px solid $overlay-color;
        height: 23px;
        width: 23px;

        &:checked {
            background-color: $accent-color !important;
        }
    }
}

.marginbottom10 {
    display: inline-block;
    width: 100vw !important;
    margin-bottom: 10vh;
}

.repositoryDropDownList {
    margin-left: 0 !important;
    padding-left: 4vw !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

button.buttonBlue {
    background-color: $accent-color;
    border-color: $accent-color;
}

div.noMaxHeight {
    max-height: none !important;
}
