.sprintDiv{
    border-bottom: none !important; //override standarddiv
    height: 11vh !important; //override standarddiv
    overflow: initial !important;

    .col-xs-5{
        padding: 0;
    }
}

.closed{
    background-color: #f8f8f9;
    color: black;
}
.active{
    background-color: #00b9ff;
    color: white;
}

.remainingDays{
    color: #5acd2d;
}

@keyframes sprint-in {
    0% { 
        transform: translate3d(0, 1000%, 0) scale(0, 0);
    }
    60% {
        transform: translate3d(0, -3%, 0) scale(0.5, 0.5);
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1, 1);
    }
}

@-webkit-keyframes sprint-in {
    0% {
        transform: translate3d(0, 1000%, 0) scale(0, 0);
    }
    60% {
        transform: translate3d(0, -3%, 0) scale(0.5, 0.5);
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1, 1);
    }
}
        
.sprintAnimate {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: all;
    transition: all;
    -webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
    perspective: 1000;
    backface-visibility: hidden;
}

.sprintAnimate.ng-enter {
    -webkit-animation-duration: 500ms;
	animation-duration: 500ms;
    -webkit-animation-name: sprint-in;
	animation-name: sprint-in;
}

.sprintAnimate.ng-enter-stagger {
    -webkit-animation-delay: 75ms;
    animation-delay: 75ms;
    -webkit-animation-duration: 0ms;
    animation-duration: 0ms;
}