a {
  text-decoration: none !important;
  color: black !important;
}

.statusDiv {
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.statusDiv.clicked {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.arrow {
  font-size: 1em !important;
  float: right;
  margin-right: 3vw;
  vertical-align: middle;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  display: inline-block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.arrow.clicked {
  transform: rotate(-90deg);
}

@-webkit-keyframes ticket-in {
  0% {
    -webkit-transform: translate3d(-100%, 100%, 0)
  }
  60% {
    -webkit-transform: translate3d(4%, 10%, 0)
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0)
  }
}

@keyframes ticket-in {
    0% {
        transform: translate3d(-100%, 100%, 0)
    }
    60% {
        transform: translate3d(4%, 10%, 0)
    }
    100% {
        transform: translate3d(0, 0, 0)
    }
}

.ticketsAnimate {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: all;
    transition: all;
}

.ticketsAnimate.ng-enter {
    -webkit-animation-duration: 400ms;
	animation-duration: 400ms;
    -webkit-animation-name: ticket-in;
	animation-name: ticket-in;
}

.ticketsAnimate.ng-enter-stagger {
    -webkit-animation-delay: 75ms;
    animation-delay: 75ms;
    -webkit-animation-duration: 0ms;
    animation-duration: 0ms;
}
