//fonts
@import url("/font/font.css");
$accent-color: #00b9ff;
$listitem-backgroundcolor: #f8f8f9;
$positive-color: #5acd2d;
$negative-color: #d667cd;
$primary-color: #3c5d9b;
$line-color: #ededee;

#projectdetailContainer{
  height: 87vh;
}
#detailImg {
  width: inherit;
  height: 30vh;
  padding-top: 5vh;
  text-align: center;
  color: $listitem-backgroundcolor;
  background: url("img/bg-home-blue.jpg") no-repeat;
  background-size: cover;
}

.containerDiv{
  width:inherit;
  margin-top: 2vh;
  padding-bottom: 2vh;
  line-height: 3vh;
  border-bottom: 1px solid $line-color;
}

.noPadding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.containerDiv > .row >.col-xs-8 >.row{
  line-height: 5vh;
}

div.col-xs-4{
  text-align: center;
}

svg{
  vertical-align: middle;
}


/**COLORED CIRCLE ICONS**/
.circle {
  border-radius: 50%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 0.6;

  -webkit-box-shadow: 0 0 1px 0px rgb(255, 255, 255);
  box-shadow: 0 0 1px 0px rgb(255, 255, 255);
  width: 1em;
  height: 1em;
  z-index: 86;

  -webkit-transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out;
  -ms-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}

#circle-completed {
  border: 2px solid #69F233;
}

#circle-todo{
  border: 2px solid #0080B0;
}

#circle-progress {
  border: 2px solid #FF5DF4;
}
//////////////////////


.status{
  float:left;
  margin-right: 2vh;
  margin-top: 1.3vh;
}


#bottomNavbar {
  display: -webkit-flex;
  display: flex;
  bottom: 0;
  position: fixed;
  width: 100vw;
  line-height: 8.9vh;
  background-color: $accent-color;
  color: $listitem-backgroundcolor;
  vertical-align: middle;
}

#bottomNavbar button, 
#bottomNavbar a {
  text-align: center;
  margin-top: 1vh;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border: none;
  background-color: $accent-color;
}

#bottomNavbar .disabledButton {
  opacity: 0.4;
}