$transparent-color: #A3A5A5;
$listitem-color: #f8f8f9;
$secondary-color: #88cfe8;
$icons: "23seconds";

.branch{
	width: 90%;
}

.navbar {
	min-height: 0 !important;
}

.infovalue{
  margin-top: 2vh;
  //max-height: 25vh;
  overflow: hidden;
}

.infovalue a:link, .infovalue a:visited, .infovalue a:hover, .infovalue a:active {
  text-decoration: none !important;
  color: inherit;
}




