//fonts
@import url("/font/font.css");
$accent-color: #00b9ff;
$listitem-backgroundcolor: #f8f8f9;
$positive-color: #5acd2d;
$negative-color: #d667cd;
$primary-color: #3c5d9b;
$line-color: #ededee;

#projectContainer{
    background-color: $listitem-backgroundcolor;
    height: 100%;
}

.projectTitle{
    padding-top: 3vh;
}

.projectTitle a {
    color: black;
    vertical-align: middle;
    text-decoration: none;
}

.projectTitle a:focus{
    text-decoration: none;
}

