/////Project detail
#detailImg {
  width: inherit;
  height: 160px;
  text-align: center;
  color: $listitem-backgroundcolor;
  padding-top: 15px;
  background: url("img/bg-home-blue.jpg") no-repeat;
  background-size: 100vw 30vh;
}

.row{
  margin-right: 0;
  margin-left: 0;
}

.imageAvatar { //used in people & repo
  border-radius: 50%;
  width: 6vh;
  float:right;
}
