.signup {
    z-index: 10002 !important;
}

#signUpForm {
    height: 76vh;
    overflow: auto;
    width: 100vw;

    #avatar {
        height: auto;
        width: 100vw;
        background: url("img/bg-signup-header.jpg") no-repeat;
        background-size: 100vw;
        padding-bottom: 2vh;
        padding-top: 2vh;
        text-align: center;

        .avatarSpan {
            color: $overlay-color;
            margin-bottom: 2vh;
        }

        .circle {
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: center;
            justify-content: center;
            opacity: 1;
            background-size: cover;
            background-color: $listitem-backgroundcolor;
            border-radius: 50%;
            background-position: center;
            -webkit-clip-path: circle();
            clip-path: circle();
            width: 30vw;
            margin-left: auto;
            margin-right: auto;
            height: 30vw;
            text-align: center;
            overflow: hidden !important;

            #addPhoto {
                color: $accent-color;
                background-color: $listitem-backgroundcolor;
                border: none;
                vertical-align: middle;
            }

            #addPhoto:focus {
                outline: none;
            }

            #imgPhoto {
                border-radius: 50%;
                width: 130px;
                height: 130px;
            }
        }
    }
}

/*TOOLTIP ERROR MESSAGES*/
.tooltipDiv2 a:hover, .tooltipDiv2 a:focus {
    color: $error-color;
    text-decoration: none;
    font-size: 1.2em !important;
}

.tooltipDiv2 {
    height: 4vh;
    width: 15vw;
    float: right;

    .tooltip {
        color: $error-color !important;
        font-size: 1.2em !important;
        position: absolute;
        display: inline-block;
    }

    .tooltip .tooltiptext {
        font-family: "Avenir-Book" !important;
        font-size: .8em !important;
        @media screen and (max-height: 570px) {
            font-size: 0.65em !important;
        }
        visibility: hidden;
        min-width: 35vw;
        max-width: 75vw;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 5px;
        border-radius: 6px;
        position: absolute;
        z-index: 10000;
        top: -2vh;
        right: 105%;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
}
