#bDayDD {
  //dropdown for birthday
  width: auto;
}

#video {
  border-radius: 50% !important;
}

.photo-preview {
  width: 250px !important;
  height: 250px !important;
  border-radius: 50% !important;
  margin-bottom: 1em;
}

#avatarPhoto {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
  margin-top: 2vh;
  height: auto;
  text-align: center;

  #photo {
    height: 130px;
    -webkit-clip-path: circle();
    clip-path: circle();
  }
}

div.firstDiv button.integrationConnect {
  float: right;
  position: relative;
  margin-right: 5vw;
}

.errorSpans {
  font-size: 0.625em;
  color: $error-color;
}

/*CHECKBOXES IN THE SETTINGS-VIEW*/
.onoffswitch {
  margin-right: 3vw;
  margin-top: 0.8vh;
  float: right;
  position: relative;
  width: 12vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 20px;
  padding: 0;
  line-height: 20px;
  border: 2px solid #CCCCCC;
  border-radius: 20px;
  background-color: #FFFFFF;
  transition: background-color 0.2s ease-in;
}

.onoffswitch-label:before {
  content: "";
  display: block;
  width: 20px;
  margin-bottom: 0.8vh;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 7vw;
  border: 1px solid #CCCCCC;
  border-radius: 36px;
  transition: all 0.2s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: $accent-color;
}

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: $accent-color;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0;
}
