#overview {
  transform: translate3d(0, 0, 0);
  perspective: 1000;
  backface-visibility: hidden;
  width: 100vw;
  text-align: center;
  padding-top: 2.75vh;

  .compliment {
    font-size: 1.6em;
  }

  #totalTasks {
    color: $listitem-backgroundcolor;
    text-align: center;
    margin-top: 4vh;
    height: 17vh;

    #todoTotal {
      background-color: $secondary-color;
      width: 50vw;
      float: left;
      height: inherit;
    }

    #completedTotal {
      background-color: $positive-color;
      width: 50vw;
      float: right;
      height: inherit;
    }

    .tekst{
      display: block;
      margin-top: 2.5vh;
    }
    .number {
      font-size: 2.5em;
    }
  }
}

.ticketDiv{
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  backface-visibility: hidden;
  width: inherit;
  border-bottom: 1px solid $line-color;
  height: auto;
  min-height: 9vh;
  display: table-cell;
}

.wrappercontainer {
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  backface-visibility: hidden;
  overflow: auto;
}

#tasks {
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100vw;
  padding-bottom: 30%;

  a {
    text-decoration: none;
    color: inherit;
    &:hover, &:focus {
      color: black;
      font-size: inherit;
    }
  }

  .doneTaskImage {
    width: 9vh;
    height: auto;
    min-height: 9vh;
    background-color: $positive-color;
    float: left;
    color: $listitem-backgroundcolor;
    text-align: center;
  }

  .ToDoTaskImage {
    width: 9vh;
    height: auto;
    min-height: 9vh;
    background-color: $secondary-color;
    float:left;
    color: $listitem-backgroundcolor;
    text-align: center;
  }

  .InProgressTaskImage {
    width: 9vh;
    height: 9vh;
    background-color: $accent-color;
    float: left;
    color: $listitem-backgroundcolor;
    text-align: center;
  }

  .InReviewTaskImage {
    width: 9vh;
    height: 9vh;
    background-color: $inreview-color;
    float: left;
    color: $listitem-backgroundcolor;
    text-align: center;
  }
}

.doneTaskName {
    width: 82vw;
    opacity: 0.4;
    padding-left: 6.67vw;
    padding-top: 1vh;
    float: left;
    line-height: 3vh !important;
    overflow: scroll;
}

.taskName {
    line-height: 3vh !important;
    float: left;
    width: 82vw;
    padding-left: 6.67vw;
    padding-top: 1vh;
}

.summary{
    display: block;
    max-width: 82vw;
    height: 6vh;
    margin: 0 auto;
    line-height: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#filterButtons {
  display: flex;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  flex: 1 auto;
  bottom: 0;
  position: fixed;
  width: 100vw;
  background-color: $accent-color;
  color: $listitem-backgroundcolor;

  .singleButton {
    flex-grow: 1;
    border:none;
    line-height: 9vh;
    background-color: $accent-color;
  }

  .singleButton:focus {
    outline: none;
  }

  .active {
    border-bottom: 3px solid $primary-color;
  }
}
