.dropdownlist {
  margin-top: 1.4vh;
  padding-top: 2.5vh !important;

  select {
    background-color: transparent;
    outline: none;
    border: none;
  }
}

.toolbarFace {
  height: 40px;
  -webkit-clip-path: circle();
  clip-path: circle();
  float: right;
  margin-right: 2.5vw;
}

.managementIcon {
  margin-right: 3vw;
  float: right;
}

.buttonsSettings {
  float: right;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;

  .settingButton {
    padding-bottom: 0 !important;
    border: none;
    background: none;
    color: $overlay-color;
    padding-right: 3vw;
  }
}

.navbar-toggle {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border: none !important;
  float: left !important;
  padding: 12px 6px !important;
  margin: 0 !important;
}

.notHamburger {
  padding: 12px 16px !important;
}

.navbar-toggle:hover, .navbar-toggle:focus, .navbar-toggle {
  background-color: transparent !important;
}

@keyframes menu-in {
    0% {
        transform: translate3d(-100%, 0, 0);
        //height: 100vh;
    }
    100% {
        transform: translate3d(0, 0, 0);
        //height: 100vh;
    }
}

@-webkit-keyframes menu-in {
    0% {
        transform: translate3d(-100%, 0, 0);
        //height: 100vh;
    }
    100% {
        transform: translate3d(0, 0, 0);
        //height: 100vh;
    }
}

@keyframes menu-out {
    0% {
        transform: translate3d(0, 0, 0);
        //height: 100vh;
    }
    100% {
        transform: translate3d(-100%, 0, 0);
        //height: 100vh;
    }
}

@-webkit-keyframes menu-out {
    0% {
        transform: translate3d(0, 0, 0);
        //height: 100vh;
    }
    100% {
        transform: translate3d(-100%, 0, 0);
        //height: 100vh;
    }
}

.navbar-main.in-add {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    animation: menu-in;
    -webkit-animation: menu-in;
    -webkit-animation-duration: 450ms;
	animation-duration: 450ms;
}

.navbar-main.in-remove {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: menu-out;
    animation: menu-out;
    -webkit-animation-duration: 450ms;
	animation-duration: 450ms;
}

.navbar-main {
    background-image: url('/img/bg-home-blue.jpg');
    background-size: 100vw;
    width: 100vw;
    height: 100vh;
    max-height: none !important;
    min-height: 0 !important;
    position: fixed;
    margin: 0 !important;
    padding-right: 2.5vw;
    border: none !important;
    top: 0 !important;
    z-index: 4000;

    ul {
        text-align: center;
        list-style: none;

        li {
            border-bottom: 1px solid #8999bd;
            margin-top: 3vh;
            padding-bottom: 3vh;
            color: white !important;
        }
    }
}

.navbar {
    position: fixed;
    width: 100vw;
    top: 0;
    padding-top: 2vh;
    border-bottom-width: 0;
    z-index: 3000;
    background-color: white;
    margin-bottom: 0;

    .navbar-header {
        height: 11vh;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
    }
}

.navbar-collapse.in {
    overflow: visible !important;
    //height: 100vh !important;
    transform: translate3d(0, 0, 0) !important;

    #login-dropdown-list {
        left: 0 !important;
    }
}

.navbar-collapse {
    height: 100vh !important;
    transform: translate3d(-100%, 0, 0);
}

.navbar-brand {
  text-align: left;
  -webkit-flex-grow: 3;
  flex-grow: 3;
  color: black !important;
  padding: 0 !important;
  height: auto;
  margin-top: 0.4vh !important;
}

.navbar-icons-top {
  color: white;
  margin-left: 0;
  margin-right: 4vw;
}

.navbar-collapse.collapse {
  display: none !important;
}

.navbar-close {
  margin-top: .4vh !important;
  padding: 6px 10px !important;
}

.navbar-icons-top {
  margin-top: 4.5vh;
  height: auto;
  width: 100%;

  .face {
    -webkit-clip-path: circle();
    clip-path: circle();
    //margin-top: 1.5vh;
    height: 40px;
    float: right;

    img {
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }
  }
}

#otherOptions {
  bottom: 0;
  position: fixed;
  width: 100vw;
  opacity: 0.7;
  margin-bottom: 6vh;
  color: white;

  #settings {
    width: 50vw;
    float: left;
    text-align: center;

    #settingsButton {
      border: none;
      background: none;
    }
  }

  #logout {
    width: 50vw;
    float: left;
    text-align: center;

    #logoutButton {
      border: none;
      background: none;
    }
  }
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: block !important;
  }
}
