#carouselDiv {
  height: 75vh;

  li {
    margin-top: 8vh;
    transition: margin-top 0.3s;
    width: 80vw;
    margin-left: 13vw;

    .layer {
      height: 65vh;
      width: 75vw;
      border: 1px solid #eee;
      border-radius: 1%;
      padding-bottom: 5vh;
      box-shadow: 0 0 6px 0 #aaaaaa;
      text-align: center;

      img {
        width: 75vw;
        border-bottom: 1px solid #eee;
      }

      span {
        display: inline-block;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 3vh;
      }
    }
  }

  li.active {
    transition: margin-top 0.3s;
    margin-top: 5vh;
    background: none;
  }
}

#carouselBulletDiv {
  text-align: center;
  position: fixed;
  bottom: 5vh;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;

  .rn-carousel-indicator {
    span {
      margin-left: 2vw;
      margin-right: 2vw;
      color: rgba(194, 194, 194, 0.5);
    }

    span.active {
      color: $primary-color;
      font-size: 19px;
      background: none;
    }
  }
}
