#weekOverview {
  width: 100vw;
  max-width: 750px;
  height: auto;
  overflow-x: hidden;
  transform: translate3d(0,0,0);

  #daynames {
    width: 100vw;
    height: 6vh;
    margin-left:9vw;

    .day {
      width: 16vw;
      height: 69vh;
      float:left;
      border-left: 1px solid $listitem-backgroundcolor;
      border-right: 1px solid $listitem-backgroundcolor;

      span {
        margin-left: 5vw;
        margin-right: 5vw;
      }

      .dayname {
        margin-top: 1.5vh;
        float:left;
      }

      .checkin {
        background-color: #88cfe8;
        width: 15.8vw;
        margin: 0 auto;
      }
    }
  }

  #hours {
    float: left;
    width: 17vw;
    margin-top: 7.5vh;
    padding-left: 4vw;

    .hourSpace {
      margin-bottom: 6.5vh;
    }
  }
}

@keyframes checkin-in {
    0% {
        transform: translate3d(0, 1000%, 0)
    }
    60% {
        transform: translate3d(0, -4%, 0)
    }
    100% {
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes checkin-in {
  0% {
    transform: translate3d(0, 1000%, 0)
  }
  60% {
    transform: translate3d(0, -4%, 0)
  }
  100% {
    transform: translate3d(0, 0, 0)
  }
}

.checkinAnimate.ng-enter {
    -webkit-animation-duration: 400ms;
	animation-duration: 400ms;
    -webkit-animation-name: checkin-in;
	animation-name: checkin-in;
}

.checkinAnimate.ng-enter-stagger {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
    -webkit-animation-duration: 0ms;
    animation-duration: 0ms;
}
