@import url("/font/font.css");

$font-title: "Avenir-Book";
$font: "Avenir-Light";
$icons: "23seconds";

$listitem-backgroundcolor: #f8f8f9;
$accent-color: #00b9ff;
$positive-color: #5acd2d;
$negative-color: #d667cd;
$primary-color: #3c5d9b;
$secondary-color: #88cfe8;
$line-color: #ededee;
$overlay-color: #a3a3a3;
$listitem-color: #f8f8f9;
$error-color: #b94a48;
$inreview-color: #1b9cd1;

@import 'general_font';
@import 'general_cal';
@import 'day';
@import 'week';
@import 'checkin';
@import 'svg';
@import 'toolbar';
@import 'management';
@import 'project';
@import 'projectDetail';
@import 'projectOverview';
@import 'projectRepo';
@import 'projectSprints';
@import 'projectTickets';
@import 'login';
@import 'register';
@import 'settings';
@import 'tasklist';
@import 'ticketDetail';
@import 'walkthrough';

body{
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  background: white !important;
  font-size: 16px;
  font-family: $font-title;
}

.icon-23seconds{
  font-family: "23seconds" !important;
  color: white;
  font-size: 7vw;
}

.container {
  max-width: 750px;
  min-width: 40vw;
  height: 87vh;
  max-height: 1334px;
  padding: 0;
  margin-top: 13vh;
}

* {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

/**FOR THE SERVER PUSH NOTIFICATIONS**/
ul.notifications{
  top:12vh;
  position: fixed;
}

li.notification.info div.title {
  background-color: #A6C5D0;
  margin-bottom: 10px;
  line-height: 2vh;
  width: 60vw;
  padding-left: 0;
}

li.notification.warning div.title {
  background-color: #f5a93a;
  margin-bottom: 10px;
  line-height: 2vh;
  padding-left: 0;
  width: 60vw;
}

li.notification.success div.title {
  background-color: #A5DD8C;
  margin-bottom: 10px;
  line-height: 2vh;
  padding-left: 0;
  width: 60vw;
}

li.notification.error div.title {
  background-color: #F0342B;
  margin-bottom: 10px;
  line-height: 2vh;
  padding-left: 0;
  width: 60vw;
}

md-toast {
    z-index: 100003 !important;
    top: 0;
    position: fixed !important;
    bottom: inherit !important;
    padding: 15px !important;
}

md-toast.md-error-toast-theme div.md-toast-content{
    color: #D8000C !important;
    background-color: #FFBABA !important;
}

md-toast.md-success-toast-theme div.md-toast-content{
    color: #4F8A10 !important;
    background-color: #DFF2BF !important;
}

///////////////////////////////////////////

::-webkit-scrollbar {
  display: none;
}

.selectable {
  -webkit-user-select: text;
}

input {
  -webkit-user-select: auto !important;
}

.error-field {
    border-bottom: 1px solid #D8000C !important;
}

/**STANDARD LAYOUT for header+lists in tickets, sprints, repo, tasks,people,....**/
.standardDiv {
  width: inherit;
  border-bottom: 1px solid $line-color;
  min-height: 9vh;
    @media screen and (max-height: 570px) {
        min-height: 10vh;
    }

    @media screen and (max-height: 481px) {
        min-height: 12vh;
    }

  max-height: 13vh;
  overflow: hidden;
}

.flexDiv {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;

  div.firstDiv, span.settingText, span.subText {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }

  div.firstDiv {
    margin-left: 0 !important;
  }
}

.standardDiv > *, .noBorderStandardDiv > * {
  margin-left: 4vw;
}

.noBorderStandardDiv{
  width: inherit;
  min-height: 9vh;
  display: -webkit-flex;
  display : flex;
  -webkit-align-items: center;
  align-items : center;
}

.Banner {
  padding-left: 4vw;
  width: 100vw;
  height: 12vh;
  min-height: 8.9vh;
  display: table;
}

.text {
    display: table-cell;
    vertical-align: middle;
}

.role{
  background-color: $listitem-backgroundcolor;
}

.nomargintop {
  margin-top: 0 !important;
}

.padding0  {
  padding: 0 !important;
}

.marginText { //added margin for row + this = banner margin
  margin-left: 2.67vw;
  margin-right: 2.67vw;
}

.marginTop{
  margin-top: 2vh;
}

.marginBottom{
  margin-bottom: 2vh;
}

.paddingBottom {
  padding-bottom: 2vh;
}

.standardDiv > .row > .col-xs-5{
  padding-left: 0;
  padding-right: 10px;
}

.standardDiv > .row > .col-xs-7{
  padding: 0;
}

.standardDiv{
  .col-xs-8, .col-xs-6{
    padding-left : 0;
  }
}
/////////////////////////////////////////


/**list with bulletpoints, used in repo, calendar(day and month)**/
.bulletList {
  	margin-left: 8vw;

	hr{
      margin-left: -8vw;
      margin-top: 0;
      margin-bottom: 0;
	}

	.bulletDiv {
		margin-left: 1px;
		min-height: 9vh;
        max-height: 13vh;
		display: table;
        width: 100%;


		.bullet {
		  	margin-left: -2.1vw;
		  	font-size: 1.5em;
            float: left;
		  	margin-top: 2vh;
		  	color: $secondary-color;
		}

		.bulletText {
		  	float: left;
		  	width: 60vw;
		  	margin-left: 8vw;
		  	margin-bottom: 2vh;
		  	margin-top: 2.5vh;
		  	margin-right: 15vw;

        .infoProject{
            width: 80vw;
            margin-top: 1vh;
            clear:both;

            .hour {
                text-align: right;
                margin-left: 2vw;
                margin-right: 3vw;
                float:left;
                width: 17vw;
            }

            .taskname {
                opacity: 0.4;
                clear: right;
                width: 50vw;
                float: left;
                margin-bottom: 1.5vh;
            }
        }
		}

	  	.avatar {
			float: right;
			margin-top: 2.5vh;
            margin-right: 3vh;
		}
	}

    .calendarBulletDiv {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;

        .bullet {
            margin-top: 0 !important;
        }
    }
}


.vertical-line {
  border-left: 1px solid #eee;
  z-index: -100;
  top: 0;
  bottom: 0;
  margin-left: 8vw;
  position: fixed;
  margin-top: 13vh; //mag niet doorlopen bovenaan
}

.backgroundWhite {
  background-color: white;
}
//////////////////////////////////

/** input fields for signup / signin / setting **/

.inputs {
  background-color: transparent;
  border: none;
  line-height: 1.5;
  width:75%;
  padding-left: 0;
  color: rgb(0, 0, 0);
}

.inputs:focus {
  outline: none;
}

///////////////////////////////////////////

hr{ //wherever applied
  border-color: $line-color;
  opacity: 0.4;
  margin-top: 0;
  margin-bottom: 0;
}

/** SIGNIN/SIGNUP **/

.fullWidthButton{
  color: $listitem-backgroundcolor;
  background-color: $accent-color;
  border: none;
  width: 100vw;
  min-width: 26.67vw;
  height: 9vh;
}

.formPosition{
  bottom: 0;
  position: absolute;
}

/** MODALS **/
.modalBack{
  z-index: 3000 !important;
}

.modalWindow{
  z-index: 3001 !important;
  margin-top: 20vh;
  overflow: visible !important;
}

/** animatie **/
@keyframes project-in {
  0% {
    transform: translate3d(-100%, 100%, 0);
  }
  60% {
    transform: translate3d(4%, 10%, 0)
  }
  100% {
    transform: translate3d(0, 0, 0)
  }
}

@-webkit-keyframes project-in{
  0% {
    transform: translate3d(-100%, 100%, 0);
    -webkit-transform: translate3d(-100%, 100%, 0);
  }
  60% {
    transform: translate3d(4%, 10%, 0);
    -webkit-transform : translate3d(4%, 10%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform:translate3d(0, 0, 0);
  }
}

.projectAnimate {
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  transition: all;
  -webkit-transition:all;
}

.projectAnimate.ng-enter {
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
  -webkit-animation-name: project-in;
  animation-name: project-in;
}

.projectAnimate.ng-enter-stagger {
  animation-delay: 150ms;
  -webkit-animation-delay: 150ms;;
  animation-duration: 0;
  -webkit-animation-duration: 0;
}

//dropdown select buttons
.style-dropdown select {
  background: transparent;
  width: 268px;
  font-size: 15px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: inherit;
  -webkit-appearance: none;
}

.style-dropdown {
  width: 240px;
  height: auto;
  overflow: hidden;
  background: url('img/icon-combo-arrows.svg') no-repeat right;
  background-size: contain;
}

//algemene slidein van rechts met fade
@keyframes slide-in {
  0% {
    transform: translate3d(10%, 0%, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.slideInAnimate {
  transform: translate3d(0,0,0);
  transition: all;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  backface-visibility: hidden;
}

.slideInAnimate.ng-enter {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-name: slide-in;
  animation-name: slide-in;
}

.slideInAnimate.ng-enter-stagger {
  animation-delay: 75ms;
  animation-duration: 0;
}
