<div class="container" id="projectdetailContainer" *ngIf="project">
    <toolbar title="{{title}}" back="/management" view="project" settings="projectManagement" remove="{{projectId}}"
             (deleteItem)="deleteItem($event)" (saveItem)="saveItem($event)"></toolbar>

    <form [formGroup]="projectForm" role="form" novalidate name="projectForm" id="projectForm">
        <div id="detailImg" style="text-align: center; horiz-align: center; color:white">
            <h2>
                <input type="text" class="inputs inputFieldText" placeholder="Name" style="text-align: center;color:white;" 
                        [(ngModel)]="project.name" formControlName="name"/>
            </h2>

            <h4>
                <select type="text" class="inputs inputFieldText" placeholder="Client" style="text-align: center;color:white;width: auto"
                        [(ngModel)]="project.clientId" formControlName="clientId">
                    <option value="" selected>No Client</option>
                    <option *ngFor="let client of clients" value="{{client._id}}">{{client.name}}</option>
                </select>
            </h4>
        </div>

        <div class="standardDiv flexDiv">
            <span class="subText">Enabled</span>

            <div class="firstDiv">
                <div class="onoffswitch">
                    <input type="checkbox" name="disableProject" class="onoffswitch-checkbox" id="disableProject" 
                            [(ngModel)]="!project.disabled" formControlName="disabled">
                    <label class="onoffswitch-label" for="disableProject"></label>
                </div>
            </div>
        </div>

        <div class="standardDiv flexDiv">
            <span class="subText">Project key</span>
            <div class="firstDiv">
                <input type="text" class="inputs inputFieldText" placeholder="Unique identifier" style="text-align: right;"
                [(ngModel)]="project.key" formControlName="key"/>
            </div>
        </div>

        <section>
            <div class="Banner role">
                <span class="text">Locations</span>
            </div>
            <div class="standardDiv subText animated fadeIn" *ngFor="let location of locations">
                <div class="projectTitle flexDiv">
                    <div class=" row">
                        <div class="col-xs-6">
                            <span class="text" style="width: 90vw;">
                                {{ location.name }}
                            </span>
                        </div>
                        <div class="col-xs-6 padding0">
                            <span style="width: 50px;" class="checkbox checkbox-info checkbox-circle location-selector">
                                <input class="styled" type="checkbox" [checklist]="project.locationIds" value="location._id"/>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="Banner role">
            <span class="text">Timesheet Codes</span>
        </div>

        <form [formGroup]="timesheetCodeForm" name="timesheetCodeForm" id="timesheetCodeForm" novalidate role="form">
            <div class="standardDiv paddingBottom">
                <label class="subGrayText">
                    Add new timesheet code
                </label><br/>
                <input class="inputs inputFieldText" type="text" formControlName="code" [(ngModel)]="code" name="code"/>
                <button type="button" class="btn btn-primary buttonBlue" (click)="addTimesheetCode()" *ngIf="!isCodeEditing">
                    Add
                </button>

                <button type="button" class="btn btn-primary buttonBlue" (click)="saveTimesheetCode()" *ngIf="isCodeEditing">
                    Edit
                </button>
            </div>

            <div class="standardDiv paddingBottom noMaxHeight">
                <label class="subGrayText">Timesheet Codes</label><br/>
                <div class="row" *ngFor="let code of project.timesheetCodes; let i = index;">
                    {{code}}
                    <span (click)="editTimesheetCode(i)">edit</span>
                    <span (click)="removeTimesheetCode(i)">remove</span>
                </div>
            </div>
        </form>
    </form>
</div>
