<div class="container" id="projectDetailContainer" style="background-color: white;">
    <toolbar title="management" add="{{makeNew}}"></toolbar>

    <!-- clients -->
    <section *ngIf="selectedTab === 'client'">
        <div class="Banner" style="background: #f8f8f9;">
            <span class="text">
                Clients
            </span>
        </div>
        <div class="standardDiv animated fadeIn" *ngFor="let item of clients; let i = index;"
             [routerLink]="['/management/client', item._id]" [class.marginbottom10]="i === (clients.length - 1)">
            <div class="projectTitle">
                <a class="text">
                    {{item.name}}
                </a>
            </div>
        </div>
    </section>

    <!-- projects -->
    <section *ngIf="selectedTab === 'project'">
        <div class="Banner" style="background: #f8f8f9;">
            <span class="text">
                Projects
            </span>
        </div>
        <div class="standardDiv animated fadeIn" *ngFor="let item of projects; let i = index;" 
             [routerLink]="['/management/project', item._id]" [class.marginbottom10]="i == (projects.length - 1)">
            <div class="projectTitle">
                <div class="text">
                    {{item.name}}
                </div>
            </div>
        </div>
    </section>

    <!-- locations -->
    <section *ngIf="selectedTab === 'location'">
        <div class="Banner" style="background: #f8f8f9;">
            <span class="text">
                Locations 
            </span>
        </div>
        <div class="standardDiv animated fadeIn" *ngFor="let item of locations; let i = index;"
             [routerLink]="['/management/location', item._id]" [class.marginbottom10]="i === (locations.length - 1)">
            <div class="projectTitle">
                <a class="text">
                    {{item.name}}
                </a>
            </div>
        </div>
    </section>

    <!-- bottom nav -->
    <nav id="bottomNavbar">
        <button (click)="setSelectedTab('client')" class="icon-23seconds">
            &#60;
        </button>
        <button (click)="setSelectedTab('project')" class="icon-23seconds">
            ;
        </button>
        <button (click)="setSelectedTab('location')" class="icon-23seconds">
            :
        </button>
    </nav>
</div>