<div class="container" id="projectdetailContainer" *ngIf="location">
    <toolbar title="{{title}}" back="/management" view="location" remove="{{locationId}}" settings="locationManagement"
            (deleteItem)="deleteItem($event)" (saveItem)="saveItem($event)"></toolbar>
    
    <form novalidate role="form" [formGroup]="locationForm" name="locationForm">
        <div id="detailImg" style="text-align: center; horiz-align: center; color:white">
            <h2>
                <input type="text" class="inputs inputFieldText" placeholder="Name" style="text-align: center;color:white;"
                    [(ngModel)]="location.name" formControlName="name"/>
            </h2>
        </div>
        <div>
            <div class="Banner role">
                <span class="text">Coordinates</span>
            </div>

            <div class="standardDiv">
                <label class="subGrayText" for="lat">Latitude</label><br/>
                <input class="inputs inputFieldText" type="text" [(ngModel)]="location.coord.latitude"
                        name="latitude" id="latitude" formControlName="latitude"/>
            </div>
            <div class="standardDiv">
                <label class="subGrayText" for="lon">Longitude</label><br/>
                <input class="inputs inputFieldText" type="text" [(ngModel)]="location.coord.longitude"
                        name="longitude" id="longitude" formControlName="longitude"/>
            </div>
        </div>
    </form>
</div>